@media only screen and (max-width: 720px) {
    #menu{
      z-index: 2;
      height: 30px;
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
    }
    #menu nav{
      position: relative !important;
      top: 0 !important;
      right: 0 !important;
      border-radius: 0 !important;
      display: flex;
      flex-wrap: wrap;
      text-align: center
    }
    #menu nav .menuItem{
      color: black;
      width: 100%;
      border-bottom: 1px solid black;
      position: fixed;
      top: 0;
    }
    #menu nav .menuItem:nth-child(1){
      display: flex;
      justify-content: flex-end;
      z-index: 2;
      background-color: grey;
      color: white;

    }
    #menu nav .menuItem #button{
      height: 28px;
      width: 28px;
      padding: 3px;
      margin: 2px;
      margin-top: 6px;
      border: 1px solid white;
      display: flex;
      flex-wrap: wrap;

    }
    #menu nav .menuItem #button .line:first-child{
      margin-top: 1px;
    }
    #menu nav .menuItem #button .line{
      width: 100%;
      height: 0;
      border: 1px solid white;
      margin-bottom: 1px;
      
    }
    #header{
      height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #header #logo{
      position: relative !important;
      top: 0;
      left: 0;
    }
    #title{
      display: none;
    }
    #carrousel{
      display: none;
    }
    /* 
    circulos de cursos
     */
    
  }